* {
    font-family: Lato;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: deepskyblue;
}

h2 {
        color: white;
    font-size: 1.3em;
    letter-spacing: 2px;  
    text-align: center;
    margin-top:75vh;
}

.mini {
    background-color: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    line-height: 20px;
    text-align: center;
}

.tor{
    opacity: 0.9;
    width: 100px;
    height: 100px;
    
    position: absolute; 
    top: 50%; 
    left: 49%; 
    transform: translateX(-50%) translateY(-50%);
    }
